#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Zoom
Exec=zoom %U
Keywords=docker x11docker Zoom
Icon=x11docker-%%REPONAME%%-%%APPNAME%%-%%TAG%%.png
Terminal=false
Encoding=UTF-8
Categories=Network;Application;
StartupWMClass=Zoom
Name[en_US]=Zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
